*{
	margin: 0;padding: 0;
}
html{
	font-size: 62.5%;
}
header{
	position: fixed;
	width: 100%;
	background:#5fc0cd;
	padding: 2rem 0;
	top: 0;
	left: 0;
	text-align: center;

	color: white;
	font-size: 2rem;
}
header .back{
	left: 1rem;
	position: absolute;

}
main{
	margin-top: 6rem;
}
main .banner{
	background:  url(./img/bac.png);
	background-size: cover;
	height: 20rem;
}
main .banner .mask{
	background: rgba(0,0 ,0 ,0.2);
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 2rem;
}
main .banner >.mask >img{
	margin-right: 2rem;
	width: 5rem;
}

main .banner >.mask .user{
color: #fff;
}
main .banner >.mask .user .userInfo{
	font-size: 3rem;
	margin-bottom: 1rem;
}
main .banner >.mask .user .userInfo .name{
	margin-right: 1rem;
}
main .banner >.mask .location{
	font-size: 2.2rem;
	margin-left: .2rem;
}
form{
	font-size: 1.6rem;
	margin-bottom: 7rem;
}
form .info{
	padding: 2em ;
	border-bottom: 1px solid #e1e5e7;
	margin-left: 2rem;
	display: flex;
	font-size: 1.6rem;
}
form .skills{
	padding: 2rem 0;
	display: flex;
	border-bottom: 1px solid #e1e5e7;
}
form >.skills span{
	margin-left: 2rem;
	padding-left: .5rem;
	border-left: .2rem solid #5fc0cd;
	font-size: 2rem;
}
form >.info >.star{
	border-left: 1px solid #e1e5e7;
	padding-left: .5rem;
}
form >.info>.tag{
	color: #afafaf;
	margin-right: 1rem;
	padding-right: 1rem;
	border-right: 1px solid #e1e5e7;
}
form>.info>.price{
	color:#e26163;
}
form >.info span{
	display: inline-block;

}
footer{
width: 100%;
position: fixed;
bottom: 0;
margin-bottom: 6rem;
}
footer >button{
width: 47%;
font-size: 1.6rem;
background: white;
padding:1rem 1rem;
border-radius: .6rem;
border: 1px solid #5fc0cd;
}
footer .message{
	color:#5fc0cd;
	position: absolute;

	left: 0.5rem;
}
footer .phone{
	background: #5fc0cd;
	color: white;
	position: absolute;

	right: 0.5rem;
}
